body {
	margin: 0;
	font-family: 'Impact', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* background: -webkit-linear-gradient(90deg,#0000ff,#0000ff,#00ffff); 
	background: linear-gradient(90deg,#0000ff,#0000ff,#00ffff); */
	background: -webkit-linear-gradient(90deg,#77408e,#72339a,#6925a7,#5915b5,#3d03c4); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(90deg,#77408e,#72339a,#6925a7,#5915b5,#3d03c4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
	margin: 0;
  }
  

  .visuallyHidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
  }
  
  .container {
	position: relative;
	max-width: 1280px;
	padding: 0 20px;
	margin: 0 auto;
	margin-bottom: 50px;
  }
  